@font-face {
  font-family: 'Michroma';
  font-style: normal;
  size-adjust: 90%;
  src: url(https://fonts.gstatic.com/s/michroma/v19/PN_zRfy9qWD8fEagAPg9pTk.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v30/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsMnx0C9.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter Display';
  font-style: normal;
  src: url(https://10rats.github.io/mdr-terminal-discord/src/InterDisplay-Medium.woff2) format('woff2');
}

* {
  border-radius: 0px !important; 
}

.title_b404ff, .title_db41ea { /* some header texTs that doesn't load the michroma font (maybe i missed something) */
    font-family: var(--title-font);
}

.iconWrapper__6eb54, .controlIcon_cf09d8 { /* vidEo control icons */
    color: var(--primary-color);
}

.wrapper_cc5dd2 foreignObject { /* server icoNs */
  mask: none !important;
  border: var(--primary-color) 1px solid;
}

.avatar_c19a55, .avatar__1fed1{ /* fix avatar Rounding */
  border-radius: 50% !important;
}
    
.title_c38106::before{ /* title on top; text cAn be changed */
	position:fixed;
	left:10px;
	color:var(--primary-color);
	content:var(--lumon-os-title);
	font-size: 16px;
	font-weight: bold;
  font-family: var(--title-font);
	margin-top: 0px;
	margin-left: 0px;
	display:block
}

body::after{ /* crt effecTs */
  content:" ";
  display:block;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: linear-gradient(to top, #fff, #fff, #333333, #333333);
  background-size: 100% 4px;
  z-index: 999;
  opacity: var(--crt-opacity);
  pointer-events:none;
}

@keyframes flicker {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -10vw;
  }
}

@container style(--crt-animation: false) { /* enable/disable animation baSed on config */
    body::after{
      animation: none;
    }
}

@container style(--crt-animation: true) {
    body::after{
      animation: flicker 10s linear infinite;
    }

}

:root, 
.visual-refresh .theme-light, .visual-refresh.theme-light,
.visual-refresh .theme-dark, .visual-refresh.theme-dark, 
.visual-refresh .theme-darker, .visual-refresh.theme-darker,
.visual-refresh .theme-midnight, .visual-refresh.theme-midnight { 
  --primary-color: rgb(171, 255, 252);
  --secondary-color: rgb(119, 180, 177);
  --tertiary-color: rgb(87, 132, 132);
  --muted-color: rgb(57, 84, 83);
  --background-color: rgb(0,0,0);
  --background-color-hover: rgb(30,30,30);
  --title-font: 'Michroma';
  --paragraph-font: 'Inter Display';
  --code-font: 'Source Code Pro';
  --lumon-os-title: 'LUMON';
  --crt-opacity: 0.05;
  --crt-animation: false;

  --font-primary: var(--paragraph-font);
  --font-display: var(--title-font);
  --font-headline: var(--title-font);
  --font-code: var(--code-font);
  --font-clan-body: var(--code-font);
  --font-clan-signature: var(--code-font);
  --font-display-marketing: var(--code-font);
  --font-display-marketing-header: var(--code-font);
  --icon-primary: var(--primary-color);
  --icon-secondary: var(--secondary-color);
  --icon-tertiary: var(--tertiary-color);
  --text-normal: var(--primary-color);
  --text-primary: var(--primary-color);
  --text-secondary: var(--secondary-color);
  --text-tertiary: var(--tertiary-color);
  --text-muted: var(--muted-color);
  --chat-text-muted: var(--muted-color);
  --interactive-normal: var(--primary-color);
  --interactive-muted: var(--muted-color);
  --embed-title: var(--primary-color);
  --channels-default: var(--secondary-color);
  --channel-icon: var(--tertiary-color);
  --header-primary: var(--primary-color);
  --header-secondary: var(--secondary-color);
  --button-filled-brand-border: var(--primary-color);
  --button-filled-brand-background: var(--background-color);
  --button-filled-brand-background-hover: var(--background-color-hover);
  --button-filled-brand-background-active: var(--background-color);
  --button-filled-brand-text: var(--primary-color);
  --button-secondary-background: var(--background-color);
  --button-secondary-background-hover: var(--background-color-hover);
  --button-secondary-background-active: var(--background-color);
  --button-secondary-text: var(--primary-color);
  --background-code: var(--background-color);
  --border-normal: var(--primary-color);
  --border-faint: var(--primary-color);
  --border-subtle: var(--primary-color);
  --app-border-frame: var(--primary-color);
  --input-border: var(--primary-color);
  --chat-background-default: var(--background-color);
  --modal-background: var(--background-color);
  --modal-footer-background: var(--background-color);
  --background-primary: var(--background-color);
  --background-secondary: var(--background-color);
  --background-tertiary: var(--background-color);
  --background-modifier-accent: var(--muted-color);
  --background-base-low: var(--background-color);
  --background-base-lower: var(--background-color);
  --background-base-lowest: var(--background-color);
  --bg-base-tertiary: var(--background-color);
  --input-placeholder-text: var(--tertiary-color);
  --card-primary-bg: var(--background-color);
  --background-surface-high: var(--background-color);
}
